<table  class="table table-sm">
  <thead>
    <tr scope="col" class="table-info text-center">
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col" colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <% @shopping_cart.line_items.each do |line_item| %>

      <tr>
        <td scope="row"> <%= line_item.product.name %> </td>
        <td class="text-center"> <%= line_item.product.price %></td>
        <td class="text-center"> <%= line_item.quantity %> </td>
        <td class="text-center">Update</td>
        <td class="text-center">Delete</td>
      </tr>
    <% end %>
  </tbody>
</table>
