<div>
  <div class="cat">
  <% @categories.each do |ca| %>
    <h3><%= link_to ca.name, products_path(cate: ca.id) %></h3>
  <% end %>
  </div>

    <div class="prod">
      <% if @products.empty? %>
        <p>There are no products available.</p>
      <% else %>
        <% @products.each do |product|  %>
        <% if product.active_image.attached? %>
            <p><%= link_to image_tag product.active_image, product %></p>
        <% else %>
              <p><%= link_to image_tag("#{product.image}", alt:  "#{product.name}", style:"width:150px; height:200px;"), product %></p>
        <% end %>
          <h3><%= link_to "#{product.name}", product %></h3>
       <% end %>
      <% end %>
    </div>
</div>




