<div>
  <div class="cat">
  <% @categories.each do |ca| %>
    <h3><%= link_to ca.name, products_path(cate: ca.id) %></h3>
  <% end %>
  </div>

    <div class="prod">
      <% if @products.empty? %>
        <p>There are no products available.</p>
      <% else %>
        <% @products.each do |product|  %>
        <%= image_tag product.active_image if product.active_image.attached? %>
          <h3><%= link_to "#{product.name}", product %></h3>
       <% end %>
      <% end %>
    </div>
</div>




